//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: display.scss
// Location: @/styles/layout
//


@mixin display($type, $horizontal: flex-start, $vertical: flex-start) {

	display: $type;

	@if $type = 'flex' {
		justify-content: $horizontal;
		align-items: $vertical;
	}
}

@mixin grow($status) {
	@if $status = true {
		flex-grow: 1;
	} @else {
		flex-grow: 0;
	}
}
