/*
 Author: André Carello <andrelino.cl@gmail.com>
 Name: Vue Base
 Description: Code for Vue projects
 File: app.scss
 Location: scss/
*/


@import "core/settings",
		"core/mixins",
		"core/fonts",
		"core/globals";


// -> import layout
@import "layout/aligns",
		"layout/grid",
		"layout/display",
		"layout/offset",
		"layout/margins",
		"layout/padding";

// -> import colors
@import "colors/backgrounds",
		"colors/text",
		"colors/border";

// -> import components
@import "components/typography",
		"components/navigation",
		"components/tabs",
		"components/badge";
