/*
 Author: André Carello <andrelino.cl@gmail.com>
 Name: Vue Base
 Description: Code for Vue projects
 File: core.scss
 Location: scss/
*/

// -> load core
@import "core/settings",
		"core/functions",
		"core/mixins",
		"core/extends",
		"core/globals",
		"core/helpers";
