
@if ( $create-badges ) {
    .badge{
      text-align: center;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &-default{
        background-color: #ECECEC;
        color: #707070;
      }
  
      &.rounded{
        border-radius: 100px;
      }
    }
  }