.tabs{

    height: 124px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #707070;
    position: relative;
  
    .tab-indicator{
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      border-radius: 40px;
      background-color: $orange;
      width: 67px;
      height: 7px;
    }
  
    .tab{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 124px;
      margin-right: 82px;
  
  
  
      > * {
        color: #707070;
        font-size: 16px;
        letter-spacing: 1px;
        @include font('Montserrat');
      }
  
      figure{
        @include size(57, 65);
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      &.active{
        > * {
          color: $orange;
        }
        svg{
          @include change-svg-color($orange)
        }
      }
    }
  }