// BEGIN: CREATE TEXT COLORS

//  text colors usage
//  { media query }:{ class name }-{ color }
//  text-gray-200
//  sm:text-gray-500
//  lg:text-gray-900
@mixin create_border_colors($breakpoint_name: "", $colors: $colors, $step: $border_step_width) {

    @each $name, $color in $colors {
      $class: "";
  
      @if $breakpoint_name != "" {
        $class: ".#{ $breakpoint_name }\\\:#{ $border_name }-#{ $name }"
      } @else {
        $class: ".#{ $border_name }-#{ $name }"
      }
  
      #{ $class } {
        border: #{ $step }px solid $color;
      }
    }
  }
  
  @mixin create_border_width($breakpoint_name: "", $loop: $border_loop, $step: $border_step_width) {
    @for $i from 1 through $loop {
  
      $size: ( $step * $i );
      $class: "";
  
      @if $breakpoint_name != "" {
        $class: ".#{ $breakpoint_name }\\\:#{ $border_name }-#{ $size }"
      } @else {
        $class: ".#{ $border_name }-#{ $size }"
      }
  
      #{ $class } {
        border-width: #{ $size }px;
      }
    }
  }
  
  
  @if $create-border-helpers {
    @include create_border_colors();
    @include create_border_width();
  
    @each $breakpoint_name, $breakpoint_size in $breakpoints {
      @include media($breakpoint_name){
        @include create_border_colors($breakpoint_name);
      }
    }
  }