// BEGIN: CREATE TEXT COLORS

//  text colors usage
//  { media query }:{ class name }-{ color }
//  text-gray-200
//  sm:text-gray-500
//  lg:text-gray-900
@mixin create_text_colors($breakpoint_name: "", $colors: $colors) {

    @each $name, $color in $colors {
      $class: "";
  
      @if $breakpoint_name != "" {
        $class: ".#{ $breakpoint_name }\\\:#{ $text_name }-#{ $name }"
      } @else {
        $class: ".#{ $text_name }-#{ $name }"
      }
  
      #{ $class } {
        color: $color;
      }
    }
  }
  
  
  @if $create-text-color-helpers {
    @include create_text_colors();
  
    @each $breakpoint_name, $breakpoint_size in $breakpoints {
      @include media($breakpoint_name){
        @include create_text_colors($breakpoint_name);
      }
    }
  }