@if $fonts {
    @each $font, $font_name, $weight in $fonts {
      @font-face {
        font-family: "#{$font}";
        src: url("/assets/fonts/#{$font_name}.woff");
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
      }
    }
  }