//
// Author: André Carello <andrelino.cl@gmail.com>
// Name: Vue Base
// Description: Code for Vue projects
// File: settings.scss
// Location: scss/core
//

// -> global vars
$browser-context: 16; // utilizada nas funcoes ( em, rem )
$gutter: 15px;
$columns: 12;

// -> project colors
$primary: #050517;
$secondary:#D81E5B;
$text-light: #FBFBFF;


// -> social media colors
$linkedin-color: 	#8d6cab;
$facebook-color: 	#1d3469;
$google-color: 		#dd4b39;
$youtube-color: 	#cd201f;
$instagram-color: 	#e95950;

// -> project fonts
$fonts: (
  "Simplon Headline" simplonoi-headline 400,
  "Simplon" simplonbp-light-webfont 300,
  "Simplon" simplonbp-regular-webfont 400,
  "Simplon" simplonbp-bold-webfont 600
);

// -> breakpoints
$breakpoints: (
  "xs": 400px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1600px
) !default;

// -> paths
$font-path: "/assets/fonts/";
$images-path: "/assets/images/";
$backgrounds-path: "#{ $images-path }backgrounds/";
$icons-path: "#{ $images-path }icons/";


// -> root vars
$root: (
	'primary' $primary,
	'secondary' $secondary,
  'text-light' $text-light,
  'rgb-light'  '255,255,255' 
);