// BEGIN: CREATE DISPLAY

// padding usage
//  { class name }{ direction }-{ distance }
// pt-2
// sm:pt-3
// lg:pt-6
@mixin display( $media: ""){
    @each $name in $display_name {
      $class: "";
  
      @if $media != "" {
        $class: ".#{ $media }\\\:#{ $name }";
      } @else {
        $class: ".#{ $name }";
      }
  
      #{ $class } {
        display: $name;
      }
    }
  }
  
  @mixin justify-content($media: "") {
    @each $name, $alias in $display_justify-content {
      $class: "";
  
      @if $media != "" {
        $class: ".#{ $media }\\\:jc\\\:#{ $alias }";
      } @else {
        $class: ".jc\\\:#{ $alias }";
      }
  
      #{ $class } {
        justify-content: $name;
      }
    }
  }
  
  @mixin align-items($media: "") {
    @each $name, $alias in $display_align-items {
      $class: "";
  
      @if $media != "" {
        $class: ".#{ $media }\\\:ai\\\:#{ $alias }";
      } @else {
        $class: ".ai\\\:#{ $alias }";
      }
  
      #{ $class } {
        align-items: $name;
      }
    }
  }
  
  
  
  
  
  @if $create-display-helper {
    @include display();
    @include justify-content();
    @include align-items();
  
    @each $breakpoint_name, $breakpoint_size in $breakpoints {
      @include media($breakpoint_name) {
        @include display($breakpoint_name);
        @include justify-content($breakpoint_name);
        @include align-items($breakpoint_name);
      }
    }
  }