// BEGIN: CREATE PADDING

// padding usage
//  { class name }{ direction }-{ distance }
// pt-2
// sm:pt-3
// lg:pt-6
@mixin create_paddings($breakpoint_name: "", $direction: "", $step: $padding_steps, $loop: $padding_loop){

    @for $i from 1 through $loop {
  
      $size: ( $step * $i );
      $first-letter: str-slice($direction, 0, 1);
      $class: "";
  
      @if $breakpoint_name != "" {
        $class: ".#{ $breakpoint_name }\\\:#{ $padding_name }#{ $first-letter}-#{ $size }"
      } @else {
        $class: ".#{ $padding_name }#{ $first-letter }-#{ $size }"
      }
  
      #{ $class } {
        padding-#{ $direction }: #{ $size }px;
      }
    }
  }
  
  @if $create-padding-helper {
  
    @each $direction in $padding_directions {
      @include create_paddings("", $direction);
  
      @each $breakpoint_name, $breakpoint_size in $breakpoints {
        @include media($breakpoint_name){
          @include create_paddings($breakpoint_name, $direction);
        }
      }
    }
  
  }